src/main/resources/Schema/BusinessObjects/CCMS/Finance/AllPay/1.0/ARReceiptsBIM.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by Ashish (Capgemini) -->
<!--Created with Liquid XML Studio - FREE Community Edition 7.1.6.1440 (http://www.liquid-technologies.com)-->
<xsd:schema xmlns:header="http://legalservices.gov.uk/Enterprise/Common/1.0/Header" xmlns:common="http://legalservices.gov.uk/Enterprise/Common/1.0/Common" xmlns:msg="http://legalservices.gov.uk/CCMS/Finance/Payables/1.0/BillingBIM" xmlns:inv="http://legalservices.gov.uk/CCMS/Finance/Payables/1.0/BillingBIO" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://legalservices.gov.uk/CCMS/Finance/Payables/1.0/BillingBIM" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:import namespace="http://legalservices.gov.uk/CCMS/Finance/Payables/1.0/BillingBIO" schemaLocation="BillingBIO.xsd"/>
	<xsd:import namespace="http://legalservices.gov.uk/Enterprise/Common/1.0/Header" schemaLocation="../../../../Enterprise/Common/1.0/Header.xsd"/>
	<xsd:import namespace="http://legalservices.gov.uk/Enterprise/Common/1.0/Common" schemaLocation="../../../../Enterprise/Common/1.0/Common.xsd"/>
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			<Version>1.0</Version>
			<Definition>BILL BIM</Definition>
			<Author>Mohammed Sajid Ali</Author>
			<ModifiedBy>Mohammed Sajid Ali</ModifiedBy>
			<VersionDate>08-11-2010</VersionDate>
			<Description>This schema defines the objects to create invoices at Ebiz.</Description>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="InvoiceAddRQ" type="msg:InvoiceAddRQ"/>
	<xsd:element name="InvoiceAddRS" type="msg:InvoiceAddRS"/>
	<xsd:element name="CaseSOAInqRQ" type="msg:CaseSOAInqRQ"/>
	<xsd:element name="CaseSOAInqRS" type="msg:CaseSOAInqRS"/>
  
  
	<xsd:complexType name="InvoiceAddRQ">
		<xsd:sequence>
			<xsd:element ref="header:HeaderRQ"/>
			<xsd:element name="InvoiceDetails">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="Bill" type="inv:BillElementType" maxOccurs="unbounded"/>
            <xsd:element name="POA" type="inv:POAElementType" maxOccurs="unbounded"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
  </xsd:complexType>
  
	<xsd:complexType name="InvoiceAddRS">
		<xsd:sequence>
			<xsd:element ref="header:HeaderRS"/>
			<xsd:element name="InvoiceReferenceID" type="common:IDREF15" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
  
	<xsd:complexType name="CaseSOAInqRQ">
		<xsd:sequence>
			<xsd:element ref="header:HeaderRQ"/>
      <xsd:element name="RecordCount" type="common:RecordCount"/>
			<xsd:element name="CaseReferenceNumber" type="common:IDREF30"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CaseSOAInqRS">
		<xsd:sequence>
			<xsd:element ref="header:HeaderRS"/>
      <xsd:element name="RecordCount" type="common:RecordCount"/>
			<xsd:element name="StatementOfAccount" type="inv:SOAElementType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
