src/main/resources/Schema/BusinessObjects/Enterprise/External/TNS/Interactive/SalesBookingForm/2008-10-07/Receiptv1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://technicolor.co.uk/namespaces/interactive/salesbookingform/2008-10-07">
  <xs:element name="Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="FileName" type = "xs:string"/>
        <xs:element minOccurs="1" maxOccurs="1" name="Location" type = "xs:string"/>
        <xs:element minOccurs="1" maxOccurs="1" name="Date" type = "xs:string"/>
        <xs:element minOccurs="1" maxOccurs="1" name="Time" type = "xs:time"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>