src/main/resources/Schema/BusinessObjects/Enterprise/External/TNS/Interactive/SalesBookingForm/2008-10-07/SalesBookingFormv6.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.12.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://technicolor.co.uk/namespaces/interactive/salesbookingform/2008-10-07">
  <xs:element name="BookingForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Campaign">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" name="CampaignName" type="xs:string" />
              <xs:element minOccurs="1" name="StartDate" type="xs:date" />
              <xs:element minOccurs="1" name="EndDate" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="IAdInstance">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" name="ITVSalesAPPID" type="xs:integer" />
              <xs:element minOccurs="1" name="Platform" type="xs:string" />
              <xs:element minOccurs="1" name="Supplier" type="xs:string" />
              <xs:element minOccurs="1" name="ITVCompliance" type="xs:boolean" />
              <xs:element minOccurs="0" name="IAdType" type="xs:string" />
              <xs:element minOccurs="1" name="UniqueCampaignDescriptor" type="xs:string" />
              <xs:element minOccurs="1" name="TriggerID" type="xs:string" />
              <xs:element minOccurs="0" name="ContentID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="ComboInstance">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" name="ComboAppID" type="xs:integer" />
              <xs:element minOccurs="1" name="DsatAppId" type="xs:integer" />
              <xs:element minOccurs="1" name="DttAppId" type="xs:integer" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>