src/main/resources/Schema/BusinessObjects/CCMS/Logging/1.0/LoggingBIO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Ashish (Capgemini) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns:common="http://legalservices.gov.uk/Enterprise/Common/1.0/Common" 
  xmlns:logging="http://legalservices.gov.uk/CCMS/Logging/1.0/LoggingBIO" 
  targetNamespace="http://legalservices.gov.uk/CCMS/Logging/1.0/LoggingBIO" 
  elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			<Version>1.0</Version>
			<Definition>Common Logging BIO</Definition>
			<Description>This schema defines the objects to insert or update the Log messages at LSC.</Description>
			<Author>Mohammed Sajid Ali</Author>
			<ModifiedBy>Mohammed Sajid Ali</ModifiedBy>
			<VersionDate>17-3-2010</VersionDate>
			<VersionDescription>Initial Version</VersionDescription>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://legalservices.gov.uk/Enterprise/Common/1.0/Common" schemaLocation="../../../Enterprise/Common/1.0/Common.xsd"/>
	<xsd:complexType name="LogDetails">
		<xsd:sequence>
			<xsd:element name="TransactionRequestID" type="common:ID40">
				<xsd:annotation>
					<xsd:documentation>Request Id generated by the process of that particular system</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Language" type="common:LanguageCode">
				<xsd:annotation>
					<xsd:documentation>Language</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TransactionName" type="common:C30">
				<xsd:annotation>
					<xsd:documentation>Unique Interface Name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Source" type="common:SystemsList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Source System Name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Target" type="common:SystemsList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Target System Name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MessageSourceType" type="logging:MessageSourceType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Processing Stage</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ProcessName" type="common:C50" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Process or Program Name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ProcessStage" type="logging:ProcessStage">
				<xsd:annotation>
					<xsd:documentation>Process Stage - Start/Intermediate/ End </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LogType" type="logging:LogType">
				<xsd:annotation>
					<xsd:documentation>Log Message Type</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MessageCode" type="common:ID30" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Message Code</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MessageDescripton" type="common:C2000">
				<xsd:annotation>
					<xsd:documentation>Message Description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SendEmail" type="common:BooleanString">
				<xsd:annotation>
					<xsd:documentation>Email Flag</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EmailID" type="common:C50" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Email ID</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TimeStamp" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Time Stamp</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="common:C">
						<xsd:pattern value="[1-2][0-9][0-9][0-9][/][0-1][0-9][/][0-3][0-9] [0-2][0-9]:[0-6][0-9]:[0-5][0-9]"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="UserName" type="common:C50">
				<xsd:annotation>
					<xsd:documentation>User Name specifying the user who has invoked this process</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="ProcessStage">
		<xsd:annotation>
			<xsd:documentation>Process Stage</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="common:ClosedEnum">
			<xsd:enumeration value="Start"/>
			<xsd:enumeration value="Intermediate"/>
			<xsd:enumeration value="End"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MessageSourceType">
		<xsd:annotation>
			<xsd:documentation>Message Source Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="common:ClosedEnum">
			<xsd:enumeration value="PLSQL"/>
			<xsd:enumeration value="BPEL"/>
			<xsd:enumeration value="OSB"/>
			<xsd:enumeration value="Mediator"/>
			<xsd:enumeration value="PUI"/>
			<xsd:enumeration value="Legacy"/>
			<xsd:enumeration value="Others"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LogType">
		<xsd:annotation>
			<xsd:documentation>Log Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="common:ClosedEnum">
			<xsd:enumeration value="Information"/>
			<xsd:enumeration value="Debug"/>
			<xsd:enumeration value="Warning"/>
			<xsd:enumeration value="Error"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
