src/main/resources/Schema/BusinessObjects/CCMS/Common/FileManagement/1.0/FileManagementBIM.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Ashish (Capgemini) -->
<!--Created with Liquid XML Studio - FREE Community Edition 7.1.6.1440 (http://www.liquid-technologies.com)-->
<xsd:schema xmlns:header="http://legalservices.gov.uk/Enterprise/Common/1.0/Header" 
            xmlns:common="http://legalservices.gov.uk/Enterprise/Common/1.0/Common" 
			xmlns:msg="http://legalservices.gov.uk/CCMS/Common/FileManagement/1.0/UploadFileFNDLOBSBIM" 
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			targetNamespace="http://legalservices.gov.uk/CCMS/Common/FileManagement/1.0/UploadFileFNDLOBSBIM" 
			elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:import namespace="http://legalservices.gov.uk/Enterprise/Common/1.0/Header" schemaLocation="../../../../Enterprise/Common/1.0/Header.xsd"/>
	<xsd:import namespace="http://legalservices.gov.uk/Enterprise/Common/1.0/Common" schemaLocation="../../../../Enterprise/Common/1.0/Common.xsd"/>
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			<Version>1.0</Version>
			<Definition>File Management BIM</Definition>
			<Description>This schema defines the messages to manage documents in ebusines suite</Description>
			<Author>Ramesh Madhavan</Author>
			<ModifiedBy>Ramesh Madhavan</ModifiedBy>
			<VersionDate>04-07-2012</VersionDate>
			<VersionDescription>Initial Version</VersionDescription>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="UploadFileFNDLOBSRQ" type="msg:UploadFileFNDLOBSRQ"/>
	<xsd:element name="UploadFileFNDLOBSRS" type="msg:UploadFileFNDLOBSRS"/>
	<xsd:element name="CreateExternalPrintBatchXMLRQ" type="msg:CreateExternalPrintBatchXMLRQ"/>
	<xsd:element name="CreateExternalPrintBatchXMLRS" type="msg:CreateExternalPrintBatchXMLRS"/>
	<xsd:complexType name="UploadFileFNDLOBSRQ">
		<xsd:sequence>
			<xsd:element ref="header:HeaderRQ"/>
        	<xsd:element name="UniqueLetterID" type="common:ID15"/>
			<xsd:element name="SourceJNDI" type="common:C50" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Mention the source server here . Should match with the JNDI Name defined in the server</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SourceLocation" type="common:C150"/>
			<xsd:element name="FileName" type="common:C150"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UploadFileFNDLOBSRS">
		<xsd:sequence>
			<xsd:element ref="header:HeaderRS"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreateExternalPrintBatchXMLRQ">
		<xsd:sequence>
			<xsd:element ref="header:HeaderRQ"/>
        	<xsd:element name="BatchID" type="common:ID15" minOccurs="1"/>
		<xsd:element name="TargetLocation" type="common:C150" minOccurs="1"/>
		<xsd:element name="FileName" type="common:C150" minOccurs="1"/>

	</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreateExternalPrintBatchXMLRS">
		<xsd:sequence>
			<xsd:element ref="header:HeaderRS"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
