src/main/resources/Schema/BusinessServices/CCMS/CaseManagement/NotificationServices.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
     name="NotificationService"
     targetNamespace="http://legalservices.gov.uk/CCMS/CaseManagement/Case/1.0/NotificationService"
     xmlns:tns="http://legalservices.gov.uk/CCMS/CaseManagement/Case/1.0/NotificationService"
     xmlns:inp1="http://legalservices.gov.uk/CCMS/CaseManagement/Case/1.0/CaseBIM"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:out1="http://legalservices.gov.uk/CCMS/CaseManagement/Case/1.0/CaseBIM"
     xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
    >
    <wsdl:documentation>
        <abstractWSDL>http://bbplscapp02.lab.gov:8055/soa-infra/services/default/NotificationServices!1.0/NotificationService.wsdl</abstractWSDL>
    </wsdl:documentation>
<wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://legalservices.gov.uk/CCMS/CaseManagement/Case/1.0/CaseBIM"
                 schemaLocation="../../../../../../Schema/BusinessObjects/CCMS/CaseManagement/Case/1.0/CaseBIM.xsd"/>
            <import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                 schemaLocation="../../../../../../Schema/BusinessObjects/Enterprise/External/oasis/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="GetNotificationCountRequest">
        <wsdl:part name="payload" element="inp1:NotificationCntInqRQ"/>
    </wsdl:message>
    <wsdl:message name="GetNotificationCountResponse">
        <wsdl:part name="payload" element="inp1:NotificationCntInqRS"/>
    </wsdl:message>
    <wsdl:message name="GetNotificationsRequest">
        <wsdl:part name="payload" element="inp1:NotificationInqRQ"/>
    </wsdl:message>
    <wsdl:message name="GetNotificationsResponse">
        <wsdl:part name="payload" element="inp1:NotificationInqRS"/>
    </wsdl:message>
    <wsdl:message name="UpdateNotificationRequest">
        <wsdl:part name="payload" element="inp1:NotificationUpdateRQ"/>
    </wsdl:message>
    <wsdl:message name="UpdateNotificationResponse">
        <wsdl:part name="payload" element="inp1:NotificationUpdateRS"/>
    </wsdl:message>
    <wsdl:message name="UsernameToken">
        <wsdl:part name="Security" element="wsse:Security"/>
    </wsdl:message>
    <wsdl:portType name="notificationservice">
        <wsdl:operation name="GetNotificationCount">
            <wsdl:input message="tns:GetNotificationCountRequest"/>
            <wsdl:output message="tns:GetNotificationCountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetNotifications">
            <wsdl:input message="tns:GetNotificationsRequest"/>
            <wsdl:output message="tns:GetNotificationsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateNotification">
            <wsdl:input message="tns:UpdateNotificationRequest"/>
            <wsdl:output message="tns:UpdateNotificationResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="notificationserviceBinding" type="tns:notificationservice">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetNotificationCount">
            <soap:operation style="document" soapAction="http://legalservices.gov.uk/CCMS/CaseManagement/Case/1.0/NotificationService/GetNotificationCount"/>
 
            <wsdl:input>
                <soap:body use="literal" parts="payload"/>
                <soap:header message="tns:UsernameToken" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="payload"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetNotifications">
            <soap:operation style="document" soapAction="http://legalservices.gov.uk/CCMS/CaseManagement/Case/1.0/NotificationService/GetNotifications"/>
     
            <wsdl:input>
                <soap:body use="literal" parts="payload"/>
                <soap:header message="tns:UsernameToken" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="payload"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateNotification">
            <soap:operation style="document" soapAction="http://legalservices.gov.uk/CCMS/CaseManagement/Case/1.0/NotificationService/UpdateNotification"/>
      
            <wsdl:input>
                <soap:body use="literal" parts="payload"/>
                <soap:header message="tns:UsernameToken" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="payload"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NotificationServices_ep">
        <wsdl:port name="notificationservice_pt" binding="tns:notificationserviceBinding">
            <soap:address location="http://bbplscapp02.lab.gov:8055/soa-infra/services/default/NotificationServices/NotificationServices_ep"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
