src/main/resources/Schema/BusinessObjects/CCMS/Common/AddressValidation/1.0/AddressValidationBIM.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Ashish (Capgemini) -->
<!--Created with Liquid XML Studio - FREE Community Edition 7.1.6.1440 (http://www.liquid-technologies.com)-->
<xsd:schema xmlns:header="http://legalservices.gov.uk/Enterprise/Common/1.0/Header" xmlns:common="http://legalservices.gov.uk/Enterprise/Common/1.0/Common" xmlns:msg="http://legalservices.gov.uk/CCMS/Common/AddressValidation/1.0/AddressValidationBIM" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://legalservices.gov.uk/CCMS/Common/AddressValidation/1.0/AddressValidationBIM" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:import namespace="http://legalservices.gov.uk/Enterprise/Common/1.0/Header" schemaLocation="../../../../Enterprise/Common/1.0/Header.xsd"/>
	<xsd:import namespace="http://legalservices.gov.uk/Enterprise/Common/1.0/Common" schemaLocation="../../../../Enterprise/Common/1.0/Common.xsd"/>
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			<Version>1.0</Version>
			<Definition>Address Validation BIM</Definition>
			<Description>This schema defines the messages to retive addresses from the Address locator service</Description>
			<Author>Ramesh Madhavan</Author>
			<ModifiedBy>Ramesh Madhavan</ModifiedBy>
			<VersionDate>24-03-2010</VersionDate>
			<VersionDescription>Initial Version</VersionDescription>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="AddressValidationInqRQ" type="msg:AddressValidationInqRQ"/>
	<xsd:element name="AddressValidationInqRS" type="msg:AddressValidationInqRS"/>
	<xsd:complexType name="AddressValidationInqRQ">
		<xsd:sequence>
			<xsd:element ref="header:HeaderRQ"/>
      <xsd:element name="RecordCount" type="common:RecordCount" minOccurs="0"/>
			<xsd:element name="House" type="common:C50" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>House Name and Number</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AddressLine" type="common:C240" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Address Line </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="City" type="common:C60" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>City/Town Name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Country" type="common:CountryCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>County</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="County" type="common:C60" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>County</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PostalCode" type="common:C60" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Postal Code</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AddressValidationInqRS">
		<xsd:sequence>
			<xsd:element ref="header:HeaderRS"/>
      <xsd:element name="RecordCount" type="common:RecordCount" minOccurs="0"/>
			<xsd:element name="Address" type="common:Address" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
