src/main/resources/Schema/BusinessObjects/CCMS/EDRMS/1.0/AuthoriseRequestBIM.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Ashish (Capgemini) -->
<!--Created with Liquid XML Studio - FREE Community Edition 7.1.6.1440 (http://www.liquid-technologies.com)-->
<xsd:schema xmlns:header="http://legalservices.gov.uk/Enterprise/Common/1.0/Header"
            xmlns:common="http://legalservices.gov.uk/Enterprise/Common/1.0/Common"
            xmlns:msg="http://legalservices.gov.uk/CCMS/EDRMS/1.0/AuthoriseRequestBIM"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        xmlns:edrms="http://legalservices.gov.uk/CCMS/EDRMS/1.0/EDRMSBIO"
            targetNamespace="http://legalservices.gov.uk/CCMS/EDRMS/1.0/AuthoriseRequestBIM"
            elementFormDefault="qualified" attributeFormDefault="unqualified"
            version="1.0">
 <xsd:import namespace="http://legalservices.gov.uk/Enterprise/Common/1.0/Header"
             schemaLocation="../../../Enterprise/Common/1.0/Header.xsd"/>
 <xsd:import namespace="http://legalservices.gov.uk/Enterprise/Common/1.0/Common"
             schemaLocation="../../../Enterprise/Common/1.0/Common.xsd"/>
             	<xsd:import namespace="http://legalservices.gov.uk/CCMS/EDRMS/1.0/EDRMSBIO" schemaLocation="EDRMSBIO.xsd"/>

 <xsd:annotation>
  <xsd:documentation xml:lang="en">
   <Version>1.0</Version>
   <Definition>Strore Document BIM</Definition>
   <Description>This schema will used for storing document at EDRMS</Description>
   <Author>Milind A</Author>
   <ModifiedBy>Milind A</ModifiedBy>
   <VersionDate>03-12-2012</VersionDate>
   <VersionDescription>Initial Version</VersionDescription>
  </xsd:documentation>
 </xsd:annotation>
 <xsd:element name="AuthoriseRQ" type="msg:AuthoriseRQ"/>
 <xsd:element name="AuthoriseRS" type="msg:AuthoriseRS"/>
  <xsd:element name="CheckPermissionsRQ" type="msg:CheckPermissionsRQ"/>
 <xsd:element name="CheckPermissionsRS" type="msg:CheckPermissionsRS"/>
 <xsd:complexType name="AuthoriseRQ">
  <xsd:sequence>
   <xsd:element name="User" type="msg:UserType"/>
  </xsd:sequence>
 </xsd:complexType>
  <xsd:complexType name="AuthoriseRS">
  <xsd:sequence>
     <xsd:element name="User" type="msg:UserTypeRs"/>
   <xsd:element name="Status" type="common:C20"/>
   <xsd:element name="FailureReason" type="common:C50" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType> 
  <xsd:complexType name="CheckPermissionsRQ">
  <xsd:sequence>
   <xsd:element name="User" type="msg:UserCheckType"/>
  </xsd:sequence>
 </xsd:complexType>
   <xsd:complexType name="CheckPermissionsRS">
  <xsd:sequence>
   <xsd:element name="Status" type="common:C20"/>
   <xsd:element name="FailureReason" type="common:C50" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType> 
 <xsd:complexType name="UserType">
  <xsd:sequence>
   <xsd:element name="UserName" type="common:C50"/>
   <xsd:element name="AuthorisationSystem" type="common:C20"/>
   <xsd:element name="AuthorisationSystemParameters" type="common:C100"/>
   <xsd:element name="Action" type="common:C10"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="UserCheckType">
  <xsd:sequence>
   <xsd:element name="UserName" type="common:C50"/>
   <xsd:element name="Action" type="common:C10"/>
  </xsd:sequence>
 </xsd:complexType>
 
  <xsd:complexType name="UserTypeRs">
  <xsd:sequence>
   <xsd:element name="UserName" type="common:C50"/>
  </xsd:sequence>
 </xsd:complexType>

</xsd:schema>
