src/main/resources/Schema/BusinessObjects/CCMS/EDRMS/1.0/EDRMSBIO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by Ashish (Capgemini) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:common="http://legalservices.gov.uk/Enterprise/Common/1.0/Common"
            xmlns:inv="http://legalservices.gov.uk/CCMS/EDRMS/1.0/EDRMSBIO"
            targetNamespace="http://legalservices.gov.uk/CCMS/EDRMS/1.0/EDRMSBIO"
            elementFormDefault="qualified" attributeFormDefault="unqualified"
            version="1.0">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <Version>1.0 Draft</Version>
            <Definition>EDRMS BIO</Definition>
            <Description>This schema defines the objects of EDRMS.</Description>
            <Author>Milind Alaspure</Author>
            <ModifiedBy>Milind Alaspure</ModifiedBy>
            <VersionDate>08-03-2012</VersionDate>
            <VersionDescription>Initial Version</VersionDescription>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://legalservices.gov.uk/Enterprise/Common/1.0/Common"
                schemaLocation="../../../Enterprise/Common/1.0/Common.xsd"/>
    <xsd:complexType name="MetaDataElementType">
        <xsd:sequence>
            <xsd:element name="MetadataEntity1" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Name" type="xsd:string"/>
                        <xsd:element name="Value" type="common:C24"/>
                        <xsd:element name="Attribute1" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C50"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute11" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value" type="xsd:date"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute10" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value" type="common:C1"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute12" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C24"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute9" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value" type="common:C8"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute14" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="xsd:string"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute13" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C50"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute15" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C25"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute8" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C10"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute16" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C100"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute17" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C100"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute7" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C40"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute18" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C25"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute6" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C40"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute5" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C40"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute19" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value" type="xsd:date"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute20" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value" type="xsd:date"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute4" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C100"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute3" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C10"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute2" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C20"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MetadataEntity2" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Name" type="xsd:string"/>
                        <xsd:element name="Value" type="common:C24"/>
                        <xsd:element name="Attribute1" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C50"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute2" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C20"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute3" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C10"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute4" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C100"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute5" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C40"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute6" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C40"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute7" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C40"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute8" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C10"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute9" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C100"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute10" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C100"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute11" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C50"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute12" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C50"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute13" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C25"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute14" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C25"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute15" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value" type="xsd:date"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute16" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value" type="xsd:date"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MetadataEntity3" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Name" type="xsd:string"/>
                        <xsd:element name="Value" type="common:C24"/>
                        <xsd:element name="Attribute1" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C50"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute2" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C20"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute3" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C10"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute4" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C100"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute5" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C40"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute6" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C40"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute7" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C40"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute8" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C10"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute9" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C100"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute10" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C100"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute11" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C50"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute12" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C50"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute13" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C25"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute14" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value"
                                                 type="common:C25"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute15" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value" type="xsd:date"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Attribute16" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Name" type="xsd:string"/>
                                    <xsd:element name="Value" type="xsd:date"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DocumentElementType">
        <xsd:sequence>
            <xsd:element name="EDRMSDocumentID" type="common:C35"
                         minOccurs="0"/>
            <xsd:element name="EDRMSFilePath" type="common:C100" minOccurs="0"/>
            <xsd:element name="FileType" type="common:C10" minOccurs="0"/>
            <xsd:element name="DocumentClass" type="common:C20" minOccurs="0"/>
            <xsd:element name="DocumentType" type="common:C20" minOccurs="0"/>
            <xsd:element name="DocumentTypeDescription" type="common:C50"
                         minOccurs="0"/>
            <xsd:element name="DocumentDescription" type="common:C100"
                         minOccurs="0"/>
            <xsd:element name="Version" type="common:C20" minOccurs="0"/>
            <xsd:element name="DateCreated" type="common:C14" minOccurs="0"/>
            <xsd:element name="DocumentOwner" type="common:C20" minOccurs="0"/>
            <xsd:element name="DateLastAmended" type="common:C14"
                         minOccurs="0"/>
            <xsd:element name="LastAmendedBy" type="common:C20" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UserType">
        <xsd:sequence>
            <xsd:element name="UserName" type="common:C50">
                <xsd:annotation>
                    <xsd:documentation>House Name and Number</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="NorthgateUser" type="common:C20"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
