src/main/resources/Schema/BusinessObjects/CCMS/EDRMS/1.0/LogRequestBIM.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Ashish (Capgemini) -->
<!--Created with Liquid XML Studio - FREE Community Edition 7.1.6.1440 (http://www.liquid-technologies.com)-->
<xsd:schema xmlns:header="http://legalservices.gov.uk/Enterprise/Common/1.0/Header"
            xmlns:common="http://legalservices.gov.uk/Enterprise/Common/1.0/Common"
            xmlns:msg="http://legalservices.gov.uk/CCMS/EDRMS/1.0/LogRequestBIM"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:inv="http://legalservices.gov.uk/CCMS/EDRMS/1.0/EDRMSBIO"
            targetNamespace="http://legalservices.gov.uk/CCMS/EDRMS/1.0/LogRequestBIM"
            elementFormDefault="qualified" attributeFormDefault="unqualified"
            version="1.0">
 <xsd:import namespace="http://legalservices.gov.uk/Enterprise/Common/1.0/Header"
             schemaLocation="../../../../Enterprise/Common/1.0/Header.xsd"/>
 <xsd:import namespace="http://legalservices.gov.uk/Enterprise/Common/1.0/Common"
             schemaLocation="../../../../Enterprise/Common/1.0/Common.xsd"/>
 <xsd:import namespace="http://legalservices.gov.uk/CCMS/EDRMS/1.0/EDRMSBIO"
             schemaLocation="EDRMSBIO.xsd"/>
 <xsd:annotation>
  <xsd:documentation xml:lang="en">
   <Version>1.0</Version>
   <Definition>Strore Document BIM</Definition>
   <Description>This schema will used for storing document at EDRMS</Description>
   <Author>Milind A</Author>
   <ModifiedBy>Milind A</ModifiedBy>
   <VersionDate>03-12-2012</VersionDate>
   <VersionDescription>Initial Version</VersionDescription>
  </xsd:documentation>
 </xsd:annotation>
 <xsd:element name="LogRQ" type="msg:LogRQ"/>
 <xsd:element name="LogRS" type="msg:LogRS"/>
 <xsd:complexType name="LogRQ">
  <xsd:sequence>
   <xsd:element name="Request" type="msg:RequestType"/>
   <xsd:element name="FailureReason" type="common:C50"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="LogRS">
  <xsd:sequence>
   <xsd:element name="Status" type="common:C15"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="RequestType">
  <xsd:sequence>
   <xsd:element name="UserName" type="common:C50"/>
   <xsd:element name="Type" type="common:C10"/>
   <xsd:element name="Status" type="common:C15"/>
   <xsd:element name="Date" type="common:C20"/>
  </xsd:sequence>
 </xsd:complexType>
</xsd:schema>
