src/main/resources/Schema/BusinessObjects/CCMS/EDRMS/1.0/SendNotificationBIM.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Ashish (Capgemini) -->
<!--Created with Liquid XML Studio - FREE Community Edition 7.1.6.1440 (http://www.liquid-technologies.com)-->
<xsd:schema xmlns:header="http://legalservices.gov.uk/Enterprise/Common/1.0/Header"
            xmlns:common="http://legalservices.gov.uk/Enterprise/Common/1.0/Common"
            xmlns:msg="http://legalservices.gov.uk/CCMS/EDRMS/1.0/SendNotificationBIM"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        xmlns:edrms="http://legalservices.gov.uk/CCMS/EDRMS/1.0/EDRMSBIO"
            targetNamespace="http://legalservices.gov.uk/CCMS/EDRMS/1.0/SendNotificationBIM"
            elementFormDefault="qualified" attributeFormDefault="unqualified"
            version="1.0">
 <xsd:import namespace="http://legalservices.gov.uk/Enterprise/Common/1.0/Header"
             schemaLocation="../../../Enterprise/Common/1.0/Header.xsd"/>
 <xsd:import namespace="http://legalservices.gov.uk/Enterprise/Common/1.0/Common"
             schemaLocation="../../../Enterprise/Common/1.0/Common.xsd"/>
             	<xsd:import namespace="http://legalservices.gov.uk/CCMS/EDRMS/1.0/EDRMSBIO" schemaLocation="EDRMSBIO.xsd"/>

 <xsd:annotation>
  <xsd:documentation xml:lang="en">
   <Version>1.0</Version>
   <Definition>Strore Document BIM</Definition>
   <Description>This schema will used for storing document at EDRMS</Description>
   <Author>Milind A</Author>
   <ModifiedBy>Milind A</ModifiedBy>
   <VersionDate>03-12-2012</VersionDate>
   <VersionDescription>Initial Version</VersionDescription>
  </xsd:documentation>
 </xsd:annotation>
 <xsd:element name="SendNotificationRQ" type="msg:SendNotificationRQ"/>
 <xsd:element name="SendNotificationRS" type="msg:SendNotificationRS"/>
 <xsd:complexType name="SendNotificationRQ">
  <xsd:sequence>
   <xsd:element name="DateCreated" type="xsd:dateTime"/>
   <xsd:element name="CCMSDocumentID" type="xsd:string"/>
   <xsd:element name="UserId" type="xsd:string"/>
   <xsd:element name="EDRMSDocumentID" type="xsd:string"/>
   <xsd:element name="DocumentType" type="xsd:string"/>
   <xsd:element name="DocumentTypeDescription" type="xsd:string"/>
   <xsd:element name="DocumentDescription" type="xsd:string"/>
   <xsd:element name="DocumentClass" type="xsd:string"/>
   <xsd:element name="CaseReferenceNumber" type="xsd:string"/>
   <xsd:element name="ClientPartyID" type="xsd:string"/>
   <xsd:element name="ProviderOfficeCode" type="xsd:string"/>
   <xsd:element name="DateLastAmended" type="xsd:dateTime"/>
   <xsd:element name="Version" type="xsd:decimal"/>




  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="SendNotificationRS">
      <xsd:sequence>
          <xsd:element name="Status" type="common:C10"/>
          <xsd:element name="Message" type="common:C50"/>
      </xsd:sequence>
 </xsd:complexType>
</xsd:schema>
