src/main/resources/Schema/BusinessObjects/CCMS/EDRMS/1.0/StoreDocumentBIM.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Ashish (Capgemini) -->
<!--Created with Liquid XML Studio - FREE Community Edition 7.1.6.1440 (http://www.liquid-technologies.com)-->
<xsd:schema xmlns:header="http://legalservices.gov.uk/Enterprise/Common/1.0/Header"
            xmlns:common="http://legalservices.gov.uk/Enterprise/Common/1.0/Common"
            xmlns:msg="http://legalservices.gov.uk/CCMS/EDRMS/1.0/StoreDocumentBIM"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:edrms="http://legalservices.gov.uk/CCMS/EDRMS/1.0/EDRMSBIO"
            targetNamespace="http://legalservices.gov.uk/CCMS/EDRMS/1.0/StoreDocumentBIM"
            elementFormDefault="qualified" attributeFormDefault="unqualified"
            version="1.0">
 <xsd:import namespace="http://legalservices.gov.uk/Enterprise/Common/1.0/Header"
             schemaLocation="../../../Enterprise/Common/1.0/Header.xsd"/>
 <xsd:import namespace="http://legalservices.gov.uk/Enterprise/Common/1.0/Common"
             schemaLocation="../../../Enterprise/Common/1.0/Common.xsd"/>
             	<xsd:import namespace="http://legalservices.gov.uk/CCMS/EDRMS/1.0/EDRMSBIO" schemaLocation="EDRMSBIO.xsd"/>

 <xsd:annotation>
  <xsd:documentation xml:lang="en">
   <Version>1.0</Version>
   <Definition>Strore Document BIM</Definition>
   <Description>This schema will used for storing document at EDRMS</Description>
   <Author>Milind A</Author>
   <ModifiedBy>Milind A</ModifiedBy>
   <VersionDate>03-12-2012</VersionDate>
   <VersionDescription>Initial Version</VersionDescription>
  </xsd:documentation>
 </xsd:annotation>
 
 <xsd:element name="StoreDocumentRQ" type="msg:StoreDocumentRQ"/>
 <xsd:element name="StoreDocumentRS" type="msg:StoreDocumentRS"/>
 
 <xsd:complexType name="StoreDocumentRQ">
  <xsd:sequence>
   <xsd:element name="User" type="msg:UserType"/>
   <xsd:element name="SourceSystem">
      <xsd:complexType>
          <xsd:sequence>
              <xsd:element name="Name" type="common:C20"/>
              <xsd:element name="DocumentId" type="common:C100"/>
          </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
    <xsd:element name="Metadata" type="edrms:MetaDataElementType"/>
    <xsd:element name="Document" type="msg:DocumentType"/>
    <xsd:element name="AuthrisationSystem">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="Name"/>
      <xsd:element name="AuthSysParameters" maxOccurs="unbounded" minOccurs="0">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Name"/>
         <xsd:element name="Value"/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
    <xsd:element name="DocumentImage" type="common:BinData"></xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 
 <xsd:complexType name="StoreDocumentRS">
  <xsd:sequence>
   <xsd:element name="Status" type="common:C20">
    <xsd:annotation>
     <xsd:documentation>Whether the request was successful. The value of this is
                        either “Success” or “Failed”</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <xsd:element name="FailureReason" type="common:C50" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>2. Error message for the failed request.</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <xsd:element name="Document" type="msg:DocumentElementType" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>

 <xsd:complexType name="MetaDataElementType">
  <xsd:sequence>
   <xsd:element name="CCMS" type="edrms:MetaDataElementType"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="DocumentType">
  <xsd:sequence>
   <xsd:element name="StorageDate" type="common:C14">
    <xsd:annotation>
     <xsd:documentation>(‘DDMMYYYYHH24:MI:SS)</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <xsd:element name="FileName" type="common:C50"></xsd:element>
   <xsd:element name="DocumentType" type="common:C20"></xsd:element>
   <xsd:element name="FileType" type="common:C10"/>
   <xsd:element name="DocumentClass" type="common:C2"/>
   <xsd:element name="DocumentDescription" type="common:C240"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="UserType">
  <xsd:sequence>
   <xsd:element name="UserName" type="common:C50">
    <xsd:annotation>
     <xsd:documentation>House Name and Number</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <xsd:element name="NorthgateUser" type="common:C20">
    <xsd:annotation>
     <xsd:documentation>AuthorisationSystem</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 
 <xsd:complexType name="DocumentElementType">
  <xsd:sequence>
   <xsd:element name="EDRMSDocumentID" type="common:C40" minOccurs="0"></xsd:element>
   <xsd:element name="EDRMSFilePath" type="common:C100" minOccurs="0"></xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 
 
</xsd:schema>
