src/main/resources/Schema/BusinessObjects/Enterprise/External/BT/0.1/common.xsd

<xs:schema targetNamespace="http://cp.bt.com/common/domain" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cp.bt.com/common/domain" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="LogDateRange">
		<xs:sequence>
			<xs:element name="FromDate" type="xs:dateTime"/>
			<xs:element name="ToDate" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="dateRangeRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="requestDetails" type="tns:requestDetails"/>
				<xs:element name="LogDateRange" type="tns:LogDateRange"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dateRange">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LogDateRange" type="tns:LogDateRange"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="error">
		<xs:complexType>
		<xs:annotation>
		  	<xs:documentation>A block containing the following:
	  	errorId                    : Unique error instance identifier and points to AlarmService for tree of errors.
		errorCode                  : Code to represent which error has occurred ... 0 (zero) if successful.
		errorMessage               : Error message in event of failure.
		localisationAttributesList : Array of attributes that should not be translated for UI localisation (eg a filename).
			name                   : name of attribute
			value                  : value of attribute
		  	</xs:documentation>
		</xs:annotation>
			<xs:sequence>
				<xs:element name="errorId" type="xs:string"/>
				<xs:element name="errorCode" type="xs:int"/>
				<xs:element name="errorMessage" type="xs:string"/>
				<xs:element name="localisationAttributesList" type="tns:LocalisationAttributes"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="LocalisationAttribute">
		<xs:annotation>
  			<xs:documentation>
    name  : Name of attribute
    value : Value of attribute.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="value" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LocalisationAttributes">
		<xs:sequence>
			<xs:element name="localisationAttributeList" type="tns:LocalisationAttribute" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="jobIdRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="requestDetails" type="tns:requestDetails"/>
				<xs:element name="jobId" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="requestDetails">
		<xs:annotation>
  			<xs:documentation>Group of standard request attributes: -
  	username    : User name of service requestor.
  	ipAddress   : IP address that service address initiated from.
  	requestId   : Unique id for the request.
  	jobId       : Generated by the system and passed when known (eg "update" and "delete"). 
  	            : For "search" and "add" this will be empty.
  	parentJobId : Generated by the system and passed when known (eg "update" and "delete").
  	            : For "search" and "add" this will be empty.
  	endpoint    : Destination service endpoint uri.
  	clientId    : Identifier for client organisation that initiated request.
  	roleId      : Identifier for role that requestor is operating as.
  	groupId     : Identifier for group that requestor is operating as part of.
             </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="username" type="xs:string"/>
			<xs:element name="ipAddress" type="xs:string"/>
			<xs:element name="requestId" type="xs:string"/>
			<xs:element name="jobId" type="xs:string"/>
			<xs:element name="parentJobId" type="xs:string"/>
			<xs:element name="endpoint" type="xs:string"/>
			<xs:element name="clientId" type="xs:string"/>
			<xs:element name="roleId" type="xs:string"/>
			<xs:element name="groupId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="responseDetails">
		<xs:annotation>
		  	<xs:documentation>Group of standard response attributes:- 
	  requestId     : Unique id of the request.
  	  jobId         : Generated by the system and passed when known (eg "update" and "delete").
  	                : For "search" and "add" this will be empty.
  	  parentJobId   : Generated by the system and passed when known (eg "update" and "delete").
  	                : For "search" and "add" this will be empty.
	  jobStatus     : Status of job referred to by JobId (eg SUBMITTED, SAVED, COMPLETED, CANCELLED).
	  requestStatus : Status of the request made (eg ERROR, SUCCESS, WAIT).
	  		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="requestId" type="xs:string"/>
			<xs:element name="jobId" type="xs:string"/>
			<xs:element name="parentJobId" type="xs:string"/>
			<xs:element name="jobStatus" type="xs:string"/>
			<xs:element name="requestStatus" type="xs:string"/>
			<xs:element ref="tns:error"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="operationRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="requestDetails" type="tns:requestDetails"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="operationResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="responseDetails" type="tns:responseDetails"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="valueResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="value" type="xs:string" minOccurs="0"/>
				<xs:element name="responseDetails" type="tns:responseDetails"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="valuesResponse">
		<xs:complexType>
		<xs:annotation>
		  	<xs:documentation>An array of values plus responseDetails.
		  	</xs:documentation>
		 </xs:annotation>
			<xs:sequence>
				<xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="responseDetails" type="tns:responseDetails"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="workflowStatusEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Succeeded"/>
			<xs:enumeration value="Failed"/>
			<xs:enumeration value="Ongoing"/>
			<xs:enumeration value="Suspended"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="workflowStatusResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status" type="tns:workflowStatusEnum" minOccurs="0"/>
				<xs:element name="nameValuePairs" type="tns:NameValuePairs"/>
				<xs:element name="responseDetails" type="tns:responseDetails"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="workflowIdResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="workflowId" type="xs:string" minOccurs="0"/>
				<xs:element name="responseDetails" type="tns:responseDetails"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Description">
		<xs:sequence>
			<xs:element name="nameValuePairs" type="tns:NameValuePairs"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameValuePairs">
		<xs:sequence>
			<xs:element name="nameValuePair" type="tns:NameValuePair" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameValuePair">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="value" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Values">
		<xs:sequence>
			<xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="descriptorResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="descriptor" type="tns:Descriptor" minOccurs="0"/>
				<xs:element name="responseDetails" type="tns:responseDetails"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Descriptor">
		<xs:annotation>
		  	<xs:documentation>All details for an Object.
	  		</xs:documentation>
	  	</xs:annotation>
		<xs:sequence>
			<xs:element name="objectDescription" type="tns:ObjectDescription" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="detail" type="tns:Detail" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="link" type="tns:Link" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ObjectDescription">
	<xs:annotation>
		  	<xs:documentation>    objectId            : DMGUID of the object
    objectClass            : Eg. TITLE, SERIES, VERSION, VARIANT, COMPONENT, SHORT_VERSION
    type                   : Type of object, eg Essence, EDL
    reference              : see reference below
    metadata               : set of name/value pairs containing metadata
    stratum                : see stratum below
	  		</xs:documentation>
	  	</xs:annotation>
		<xs:sequence>
			<xs:element name="objectId" type="xs:string"/>
			<xs:element name="objectClass" type="xs:string"/>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
			<xs:element name="reference" type="tns:Reference" minOccurs="0"/>
			<xs:element name="metadata" type="tns:NameValuePair" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="stratum" type="tns:Stratum" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Stratum">
	<xs:annotation>
		  	<xs:documentation>    name             : name of strata - Legal values are: CAPTURED_DATA, COMPLIANCE, DEFAULT, GRANADA_INT, TIMECODES
    segment          : see segment below 
	        </xs:documentation>
	  	</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="segment" type="tns:Segment" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Segment">
	<xs:annotation>
		  	<xs:documentation>    relativeTcs    : Tcs data
    begin          : see terminator below
    content        : text description of content
    end            : see terminator below
    frame          : see frame below
	        </xs:documentation>
	  	</xs:annotation>
		<xs:sequence>
			<xs:element name="relativeTcs" type="xs:string" minOccurs="0"/>
			<xs:element name="begin" type="tns:Terminator"/>
			<xs:element name="content" type="xs:string" minOccurs="0"/>
			<xs:element name="end" type="tns:Terminator"/>
			<xs:element name="frame" type="tns:Frame" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Terminator">
	<xs:annotation>
		  	<xs:documentation>    frameRate          : frame rate
    format             : format
    value              : value
	        </xs:documentation>
	  	</xs:annotation>
		<xs:sequence>
			<xs:element name="frameRate" type="xs:string" minOccurs="0"/>
			<xs:element name="format" type="xs:string" minOccurs="0"/>
			<xs:element name="value" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Frame">
		<xs:annotation>
		  	<xs:documentation>    timecode          : Time code
    reasonNumber      : reason number
	        </xs:documentation>
	  	</xs:annotation>
		<xs:sequence>
			<xs:element name="timeCode" type="xs:string"/>
			<xs:element name="reasonNumber" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Detail">
	<xs:annotation>
		  	<xs:documentation>    name          : Object name
    index      : index number, optional
    objectId   : id of object
    objectClass: Eg. TITLE, SERIES, VERSION, VARIANT, COMPONENT, SHORT_VERSION 
    type       : Type of object, eg Essence, EDL
    metadata   : set of name/value pairs containing metadata
	        </xs:documentation>
	  	</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="index" type="xs:int" minOccurs="0"/>
			<xs:element name="objectId" type="xs:string"/>
			<xs:element name="objectClass" type="xs:string"/>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
			<xs:element name="metadata" type="tns:NameValuePair" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Link">
		<xs:annotation>
		  	<xs:documentation>    source          : source
    destination      : destination
    type             : Eg. TITLE, SERIES, VERSION, VARIANT, COMPONENT, SHORT_VERSION 
	        </xs:documentation>
	  	</xs:annotation>
		<xs:sequence>
			<xs:element name="source" type="xs:string" minOccurs="0"/>
			<xs:element name="destination" type="xs:string" minOccurs="0"/>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Reference">
	<xs:annotation>
		  	<xs:documentation>    reference          : reference text
    objectId         : id of object
    objectClass      : Eg. TITLE, SERIES, VERSION, VARIANT, COMPONENT, SHORT_VERSION 
	        </xs:documentation>
	  	</xs:annotation>
		<xs:sequence>
			<xs:element name="reference" type="xs:string" minOccurs="0"/>
			<xs:element name="objectId" type="xs:string" minOccurs="0"/>
			<xs:element name="objectClass" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Constants">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Constant" type="tns:BPELNameValuePair"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Params">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Param" type="tns:BPELNameValuePair" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="BPELNameValuePair">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="value" type="xs:anyType"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
