src/main/resources/Schema/BusinessServices/CCMS/Finance/CreateInvoice.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
     name="CreateInvoice"
     targetNamespace="http://legalservices.gov.uk/CCMS/Finance/Payables/1.0/CreateInvoice"
     xmlns:ns1="http://legalservices.gov.uk/CCMS/Finance/Payables/1.0/BillingBIM"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:client="http://legalservices.gov.uk/CCMS/Finance/Payables/1.0/CreateInvoice"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
    >
    <wsdl:documentation>
        <abstractWSDL>http://bbplscapp02.lab.gov:8055/soa-infra/services/default/CreateInvoice!1.0/CreateInvoice.wsdl</abstractWSDL>
    </wsdl:documentation>
    <plnk:partnerLinkType name="CreateInvoice">
        <plnk:role name="CreateInvoiceProvider">
            <plnk:portType name="client:CreateInvoice"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://legalservices.gov.uk/CCMS/Finance/Payables/1.0/BillingBIM" 
					schemaLocation="../../../../../../Schema/BusinessObjects/CCMS/Finance/Payables/1.0/BillingBIM.xsd"/>
            <import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" 
					schemaLocation="../../../../../../Schema/BusinessObjects/Enterprise/External/oasis/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="CreateInvoiceRequestMessage">
        <wsdl:part name="payload" element="ns1:InvoiceAddRQ"/>
    </wsdl:message>
    <wsdl:message name="CreateInvoiceResponseMessage">
        <wsdl:part name="payload" element="ns1:InvoiceAddRS"/>
    </wsdl:message>
    <wsdl:message name="UsernameToken">
        <wsdl:part name="Security" element="wsse:Security"/>
    </wsdl:message>
    <wsdl:portType name="CreateInvoice">
        <wsdl:operation name="process">
            <wsdl:input message="client:CreateInvoiceRequestMessage"/>
            <wsdl:output message="client:CreateInvoiceResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CreateInvoiceSOAPBinding" type="client:CreateInvoice">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="process">
            <soap:operation style="document" soapAction="http://legalservices.gov.uk/CCMS/Finance/Payables/1.0/CreateInvoice"/>
            <wsdl:input>
                <soap:body use="literal" parts="payload"/>
                <soap:header message="client:UsernameToken" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="payload"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="createinvoice_client_ep">
        <wsdl:port name="CreateInvoice_pt" binding="client:CreateInvoiceSOAPBinding">
            <soap:address location="http://bbplscapp02.lab.gov:8055/soa-infra/services/default/CreateInvoice/createinvoice_client_ep"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
