src/main/resources/Schema/BusinessServices/CCMS/Finance/PrintInvoice.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
     name="PrintInvoice"
     targetNamespace="http://legalservices.gov.uk/CCMS/Finance/Payables/1.0/PrintInvoice"
     xmlns:ns1="http://legalservices.gov.uk/CCMS/Finance/Payables/1.0/BillingBIM"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:client="http://legalservices.gov.uk/CCMS/Finance/Payables/1.0/PrintInvoice"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
    >
    <wsdl:documentation>
        <abstractWSDL>http://bbplscapp02.lab.gov:8055/soa-infra/services/default/PrintInvoice!1.0/PrintInvoice.wsdl</abstractWSDL>
    </wsdl:documentation>
    <plnk:partnerLinkType name="PrintInvoice">
        <plnk:role name="PrintInvoiceProvider">
            <plnk:portType name="client:PrintInvoice"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://legalservices.gov.uk/CCMS/Finance/Payables/1.0/BillingBIM"
					schemaLocation="../../../../../../Schema/BusinessObjects/CCMS/Finance/Payables/1.0/BillingBIM.xsd"/>
            <import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                 schemaLocation="../../../../../../Schema/BusinessObjects/Enterprise/External/oasis/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="PrintInvoiceRequestMessage">
        <wsdl:part name="payload" element="ns1:InvoicePrintRQ"/>
    </wsdl:message>
    <wsdl:message name="PrintInvoiceResponseMessage">
        <wsdl:part name="payload" element="ns1:InvoicePrintRS"/>
    </wsdl:message>
    <wsdl:message name="UsernameToken">
        <wsdl:part name="Security" element="wsse:Security"/>
    </wsdl:message>
    <wsdl:portType name="PrintInvoice">
        <wsdl:operation name="process">
            <wsdl:input message="client:PrintInvoiceRequestMessage"/>
            <wsdl:output message="client:PrintInvoiceResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PrintInvoiceSOAPBinding" type="client:PrintInvoice">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="process">
            <soap:operation style="document" soapAction="http://legalservices.gov.uk/CCMS/Finance/Payables/1.0/PrintInvoice"/>
            <wsdl:input>
                <soap:body use="literal" parts="payload"/>
                <soap:header message="client:UsernameToken" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="payload"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="printinvoice_client_ep">
        <wsdl:port name="PrintInvoice_pt" binding="client:PrintInvoiceSOAPBinding">
            <soap:address location="http://bbplscapp02.lab.gov:8055/soa-infra/services/default/PrintInvoice/createinvoice_client_ep"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
